/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap";

p.debugger {
  color: gray;
}

footer {
  height: 100px;
  padding: 15px;
  margin-top: 25px;
  background: #444;
  width: 100%;
  color: white;
}

nav {
  font-size: 18px;
  border-radius: 4px;
  background-color: white;
}

.jumbotron > h1 {
  font-family: 'Lobster', cursive;
}

.bg {
  background: url(image_path('lespaul_background.jpg')) no-repeat center center;
  position: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}

// Boostrap Overrides

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: white;
  border-top: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.badge {
  margin-top: 3px;
}

.cart-header {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel-body {
  padding: 0;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 0;
}

.list-group {
  margin-bottom: 0;
  padding-left: 0;
}
