
#cart {
  width: 25%;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
}

#cart-icon {
  color: #666;
  font-size: 18px;
  margin-right: 12px;
  margin-top: 2px;
  cursor: pointer;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}

thead {
  background-color: #474843;
  color: #F2E9E1;
  }

.cart_border {
  border: solid;
  border-color: #C5CFC6;
}

#row_of_buttons {
  position: relative;
  top: 10px;
  height: 0px;
}
