.summary {
  width: 600px;
  height: 150px;
}
.description {
  width: 400px;
  margin: 0;
  float: left;
}
.image {
  width: 200px;
  height: 150px;
  margin: 0;
  float: left;
}
img {
  width: 200px;
}

ul {
  list-style: none;
}
