.summary {
  width: 600px;
  height: 150px;
  border: solid black 2px;
}
.description {
  width: 400px;
  margin: 0;
  float: left;
}
.image {
  width: 200px;
  height: 150px;
  margin: 0;
  float: left;
}
img {
  width: 200px;
}
#cart {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 0;
  right: 0;
  background: #ccc;
}
