<h2>Thanks, you paid <strong><%=number_to_currency @amount / 100.0%></strong>!</h2>

<%= link_to "Return to shopping", root_path %>


<% if Rails.env.development?%>
<p class='debugger'>Debugger (shown in development only)</p>
<p class='debugger'><%= @order.inspect %></p>
<% end %>
